<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
   
    <header>
        <div class="nav container">
            <a href="#" class="logo"> My <span>Blog</span></a>
            <a href="index.html" class="login">Deconnexion</a>  
        </div>
    </header>
<section class="contact" id="contact">
    <div class="titre noir">
        <h2 class="titre-text"> <span>S</span>e connecter</h2>   
    </div>
    <div class="contactform">
        <form action="#" method="post">
           
            <div class="inputboite">
                <input type="text" placeholder="mail" name="mail">
            </div>
            <div class="inputboite">
                <input type="text" placeholder="password" name="Password">
            </div>
            <div class="inputboite">
                <input type="submit" value="se connecter" name=" Se connecter">
            </div>
        </form>
    </div>
</section>


</body>
</html>
